{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-12 col-lg-8 mx-auto mt-2">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">

          <div class="book-info">
            <div class="mb-2">ISBN {{ book['isbn'] }}</div>
            <h5 class="card-title">{{ book['title'] }}</h5>
            <div class="card-subtitle text-muted mb-3">
              by {{ book['author'] }} ({{ book['year'] }})
            </div>
          </div>

          <div class="goodreads-data">
            <h5>
              Goodreads average rating:
              <small>
                {% for i in range(0, full_stars) %}
                <i class="fas fa-star"></i>
                {% endfor %}
                {% for i in range(0, half_stars) %}
                <i class="fas fa-star-half-alt"></i>
                {% endfor %}
              </small>
            </h5>
            <h5>Number of ratings: <small>{{ ratings_count }}</small></h5>
          </div>
        </div>

        <div class="reviews">
          <h5>Leave a review:</h5>
          {% if not session["username"] %}
          <p>Please <a href="{{ url_for('login') }}">log in</a> to leave a review.</p>
          {% else %}
          <form action="{{ url_for('book', isbn=book['isbn']) }}" method="post">
            <div class="form-group">
              <textarea class="form-control" name="review" placeholder="What are your thoughts on this book?" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit review</button>
          </form>
          {% endif %}

          <div class="user-reviews mt-4">
            <h5>User reviews:</h5>
            {% if user_reviews %}
            <div class="list-group mt-3">
              {% for review in user_reviews %}
              <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between mt-2">
                  <h5>Review by {{ review['username'] }}</h5>
                  <small>{{ review['date'].strftime("%a, %b %d %Y at %I:%M %p") }}</small>
                </div>
                <p>{{ review['review'] }}</p>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <p>No user reviews submitted yet.</p>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}